#root {
  background-color: rgb(78, 78, 78);
  height: 100vh;
}
.App {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
}

.Preview-box {
  height: 100%;
  width: 45%;
  background-color: #e6e6e6;
  display: flex;
  border-radius: 5px;
}