@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap');
#root {
  background-color: rgb(78, 78, 78);
  height: 100vh;
}


.App {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
}

.Preview-box {
  height: 100%;
  width: 45%;
  background-color: #e6e6e6;
  display: flex;
  border-radius: 5px;
}